<h2>not working example</h2>
<button routerLink="/working/test">link1</button>
<button routerLink="/working//test2">link2</button>
<button routerLink="/working//test3">link3</button>
<button routerLink="/working//test4">link4</button>


<div class="cupertino-pane">
  <h2>
    my header outside<br>
  </h2>
  <span style="font-size: 12px;">can't change it dynamically by having a header inside the inner pages</span>
  <div class="content" overflow-y>
    <router-outlet></router-outlet>
  </div>
</div>